---
import Layout from "../layouts/Layout.astro";
---

<Layout title="snwzd">
  <section>
    <h2>Hi</h2>
    <p>
      I’m Mahaprasad, also known as snwzd on the web. I'm a Cloud Engineer with
      a passion for backend systems programming, Linux, and cloud-native tools.
      In my free time, I enjoy sketching!
    </p>
  </section>

  <section>
    <h2>Experience</h2>
    <p>
      Currently working as a Cloud-DevOps Engineer at <strong>AceCloud</strong> (Since
      August 2024), where I contribute to building scalable and reliable cloud infrastructure.
    </p>
    <a
      href="/resume"
      class="mt-2 py-2 px-4 border-2 border-teal-800 hover:bg-teal-800 rounded-lg inline-block"
      >Resume</a
    >
  </section>

  <section>
    <h2>Some cool stuff I built</h2>

    <a
      href="https://github.com/snwzd/random-video-chat"
      class="block py-4 px-4 border-2 border-teal-800 hover:bg-teal-800 rounded-lg"
    >
      <div>
        <h3 class="text-2xl font-semibold">Random Video Chat</h3>
        <p>
          A platform that connects strangers from around the world through video
          chat. Built with WebRTC and Echo, written in Go, it's designed to
          offer random and real-time interactions.
        </p>
      </div>
    </a>

    <a
      href="https://github.com/snwzd/download-accelerator"
      class="mt-2 block py-4 px-4 border-2 border-teal-800 hover:bg-teal-800 rounded-lg"
    >
      <div>
        <h3 class="text-2xl font-semibold">Download Accelerator</h3>
        <p>
          A tool that boosts download speeds by splitting files into smaller
          chunks and downloading them in parallel. Developed with Golang, fancy
          TUI by Bubbletea and CLI by Cobra.
        </p>
      </div>
    </a>
  </section>
</Layout>
