---
import Layout from "../layouts/Layout.astro";
---

<Layout title="snwzd resume">
    <section>
        <h2>Mahaprasad Dehury</h2>
        <div>
            <a
                href="mailto:mprasadme@gmail.com"
                class="hover:text-slate-600 dark:hover:text-slate-400"
                >mprasadme@gmail.com</a
            >
            <span class="text-slate-900 dark:text-slate-100 font-bold">|</span>
            <a
                href="https://github.com/snwzd"
                class="hover:text-slate-600 dark:hover:text-slate-400"
                >github.com/snwzd</a
            >
            <span class="text-slate-900 dark:text-slate-100 font-bold">|</span>
            <a
                href="https://www.linkedin.com/in/mprasadme"
                class="hover:text-slate-600 dark:hover:text-slate-400"
                >linkedin.com/in/mprasadme</a
            >
        </div>
    </section>

    <section>
        <h2>Skills</h2>
        <ul>
            <li><strong>Cloud: </strong>OpenStack, AWS</li>
            <li><strong>Languages: </strong>Go, Python, Bash, YAML</li>
            <li><strong>Database: </strong>MongoDB, PostgreSQL</li>
            <li><strong>Message Broker: </strong>Redis, NATS</li>
            <li>
                <strong>Tools: </strong>Kubernetes, Ansible, Terraform, Nginx,
                GitLab, ArgoCD, Prometheus, Grafana, Loki, Linux
            </li>
            <li>
                <strong>Social Skills: </strong>Collaborative team member,
                engaged in team-building activities.
            </li>
        </ul>
    </section>

    <section>
        <h2>Work Experience</h2>
        <p>
            Currently working as a Cloud-DevOps Engineer at <strong
                >AceCloud</strong
            > (Since August 2024), where I contribute to building scalable and reliable
            cloud infrastructure.
        </p>
    </section>

    <section>
        <h2>Projects</h2>
        <div>
            <a
                href="https://github.com/snwzd/random-video-chat"
                class="hover:text-slate-600 dark:hover:text-slate-400"
            >
                <strong>Random Video Chat</strong>
            </a>
            <p>
                I developed a web application in Go consisting of two
                microservices, utilizing Redis for both message brokering and
                database functionality. The application features scaled
                WebSockets with a Redis PubSub system and supports P2P video
                chat through WebRTC. For monitoring, I implemented custom
                metrics collection with Prometheus. The architecture includes
                Traefik as a layer 7 load balancer for path-based routing.
                Continuous integration is managed via GitHub Actions, automating
                the building of Docker images and vulnerability scanning with
                Trivy. Additionally, Docker Compose is used to run the
                multi-container application seamlessly.
            </p>
        </div>

        <div class="mt-2">
            <a
                href="https://github.com/snwzd/download-accelerator"
                class="hover:text-slate-600 dark:hover:text-slate-400"
            >
                <strong>Download Accelerator</strong>
            </a>
            <p>
                I used Golang to build a program that improves download speeds
                by enabling concurrent downloads. The application employs
                zerolog for structured logging and the Cobra framework to create
                a robust command-line interface. I also wrote unit tests for the
                core download functionality, achieving a code coverage of 81.2%.
            </p>
        </div>
    </section>
</Layout>
