---
import Layout from "../layouts/Layout.astro";
---

<Layout title="snwzd shelf">
  <section>
    <h2>Papers</h2>
    <ul>
      <li class="flex justify-between items-center">
        <a
          href="https://www.usenix.org/system/files/atc23-brooker.pdf"
          class="w-2/3 hover:text-slate-600 dark:hover:text-slate-400"
          >AWS Lambda</a
        >
        <p>2024-11-06</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Books</h2>
    <ul>
      <li class="flex justify-between items-center">
        <a
          href="https://hpbn.co/"
          class="w-2/3 hover:text-slate-600 dark:hover:text-slate-400"
          >High Performance Browser Networking</a
        >
        <p>2024-09-26</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Blogs</h2>
    <ul>
      <li class="flex justify-between items-center">
        <a
          href="https://unixism.net/2020/04/io-uring-by-example-article-series/"
          class="w-2/3 hover:text-slate-600 dark:hover:text-slate-400"
          >io_uring by example</a
        >
        <p>2024-10-15</p>
      </li>
    </ul>
  </section>
</Layout>
