---
import Layout from "../layouts/Layout.astro";
---

<Layout title="snwzd shelf">
  <section>
    <h2>Papers</h2>
    <ul>
      <li class="flex justify-between items-center">
        <a href="https://google.com" class="w-2/3 hover:text-teal-200">AWS Lambda</a>
        <p>2024-11-15</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Books</h2>
    <ul>
      <li class="flex justify-between items-center">
        <a href="https://google.com" class="w-2/3 hover:text-teal-200">AWS Lambda</a>
        <p>2024-11-15</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Blogs</h2>
    <ul>
      <li class="flex justify-between items-center">
        <a href="https://google.com" class="w-2/3 hover:text-teal-200">AWS Lambda</a>
        <p>2024-11-15</p>
      </li>
    </ul>
  </section>
</Layout>
