---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="snwzd website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body
    class="flex justify-center bg-slate-100 dark:bg-slate-900 text-slate-900 dark:text-slate-100"
  >
    <div class="flex h-screen w-full lg:w-1/2 flex-col">
      <header
        class="flex-none border-b-2 border-dashed border-slate-600 dark:border-slate-400 py-2 px-4 bg-slate-100 dark:bg-slate-900"
      >
        <div class="flex items-center justify-between">
          <a
            href="/"
            class="font-semibold hover:text-slate-600 dark:hover:text-slate-400"
            >SNWZD</a
          >
          <div class="inline-flex">
            <a
              href="/blogs"
              class="py-2 px-4 border-t-2 border-b-2 border-l-2 border-slate-600 dark:border-slate-400 hover:bg-slate-200 dark:hover:bg-slate-800 rounded-l-lg"
              >Blogs</a
            >
            <a
              href="/shelf"
              class="py-2 px-4 border-2 border-slate-600 dark:border-slate-400 hover:bg-slate-200 dark:hover:bg-slate-800 rounded-r-lg"
              >Shelf</a
            >
          </div>
        </div>
      </header>

      <main class="flex-grow px-4 pb-8 pt-6">
        <slot />
      </main>

      <footer
        class="flex-none border-t-2 border-dashed border-slate-600 dark:border-slate-400 py-4 px-4"
      >
        <div class="flex items-center justify-evenly">
          <a
            href="https://github.com/snwzd"
            class="py-2 hover:text-slate-600 dark:hover:text-slate-400"
            >GitHub</a
          >
          <a
            href="https://www.linkedin.com/in/mprasadme"
            class="py-2 hover:text-slate-600 dark:hover:text-slate-400"
            >LinkedIn</a
          >
          <a
            href="https://twitter.com/sloflayer"
            class="py-2 hover:text-slate-600 dark:hover:text-slate-400"
            >X (Twitter)</a
          >
          <a
            href="https://bsky.app/profile/snwzd.bsky.social"
            class="py-2 hover:text-slate-600 dark:hover:text-slate-400"
            >Bluesky</a
          >
        </div>
      </footer>
    </div>
  </body>
</html>
